.wrapper {
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--theme-bg);

  &.empty {
    background-color: var(--theme-secondary);
  }

  @each $size in (12, 24, 36, 48) {
    &.size-#{$size} {
      width: #{$size}px;
      height: #{$size}px;
    }
  }

  > img {
    height: 100%;
    width: 100%;
  }
}
