.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.movie-input {
  display: flex;
  gap: 8px;
  align-items: center;

  > button {
    background-color: transparent;
    padding: 0;
    border: 0;

    svg {
      fill: var(--theme-primary);
    }
  }

  > input {
    background-color: transparent;
    color: var(--theme-ui);
    border: 1px solid var(--theme-bg-80);
    padding: 12px 8px;
    border-radius: 8px;
    width: 100%;
    font-size: 16px;

    &::placeholder {
      color: rgb(from var(--theme-ui) r g b / 0.5);
    }
  }
}

.related-movies {
  display: flex;
  gap: 12px;
  flex-direction: column;
  padding-bottom: 16px;

  > li {
    color: rgb(from var(--theme-ui) r g b / 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;

    .name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .status {
      padding: 4px;
      font-size: 12px;
      color: rgb(from var(--theme-ui) r g b / 0.5);
      background-color: var(--theme-bg-80);
      border-radius: 4px;
    }
  }
}
