.section-header {
  font-size: 16px;
  margin-bottom: 12px;
}

.rating {
  &:not(:last-child) {
    margin-bottom: 12px;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;

    &--user {
      font-size: 14px;
      color: rgb(from var(--theme-ui) r g b / 0.8);
      display: flex;
      gap: 4px;
      align-items: center;
    }

    &--timestamp {
      font-size: 12px;
      color: rgb(from var(--theme-ui) r g b / 0.8);
    }
  }

  &-value {
    font-size: 14px;

    > button {
      font-size: 14px;
      border: 0;
      background-color: transparent;
      padding: 0;
      color: var(--theme-primary);
      cursor: pointer;
    }
  }
}
.invert {
  transform: scale(1, -1);
}

.timeline {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 24px;

  > li {
    position: relative;
    display: flex;
    gap: 4px;
    height: 100%;

    > span {
      --highlight-color: rgb(from var(--theme-ui) r g b / 0.6);

      svg {
        fill: var(--highlight-color);
      }

      &:not([class]),
      &.green,
      &.red {
        height: 12px;
        width: 12px;
        border: 1px solid var(--highlight-color);
        border-radius: 50%;
        border-color: var(--highlight-color);
        box-shadow: 0 0 4px 1px rgb(from var(--highlight-color) r g b / 0.5);
        box-shadow: none;
      }

      &.green {
        --highlight-color: var(--theme-success);
      }

      &.red {
        --highlight-color: var(--theme-critical);
      }
    }

    &:not(:last-child) {
      &::before {
        position: absolute;
        top: 16px;
        left: 5px;
        content: "";
        display: block;
        height: calc(100% - 16px);
        background-color: rgb(from var(--theme-ui) r g b / 0.2);
        width: 2px;
        border-radius: 1px;
      }
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .timestamp {
      font-size: 12px;
      color: rgb(from var(--theme-ui) r g b / 0.5);
    }

    .summary {
      font-size: 14px;
      color: rgb(from var(--theme-ui) r g b / 0.9);

      > button {
        font-size: 14px;
        background-color: transparent;
        padding: 0;
        border: 0;
        color: var(--theme-primary);
        cursor: pointer;
      }
    }
  }
}

.vote-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  h6 {
    font-size: 18px;
  }

  > button {
    padding: 8px;
    font-size: 14px;
    background-color: transparent;
    border: 1px solid var(--theme-primary);
    color: var(--theme-primary);
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
    transition: transform ease 100ms;

    &:disabled {
      border: 1px solid rgb(from var(--theme-primary) r g b / 0.5);
      color: rgb(from var(--theme-primary) r g b / 0.5);
      pointer-events: none;
    }

    &:active {
      transform: scale(0.9);
    }
  }

  .vote-group {
    display: flex;
    justify-content: center;
    gap: 16px;

    > button {
      --vote-color: var(--theme-success);
      border: 0;
      padding: 12px;
      border-radius: 8px;
      background-color: rgb(from var(--vote-color) r g b / 0.5);
      cursor: pointer;
      transition: transform ease 100ms;

      &:last-child {
        --vote-color: var(--theme-critical);
      }

      &.active {
        background-color: var(--vote-color);
      }

      &:active {
        transform: scale(0.9);
      }
    }
  }
}

.status-toggle {
  font-size: 14px;
  background-color: transparent;
  border: 1px solid rgb(from var(--theme-ui) r g b/.8);
  color: 1px solid rgb(from var(--theme-ui) r g b/.8);
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform ease 100ms;
  margin-left: 16px;

  &:active {
    transform: scale(0.9);
  }
}
