@import url("https://fonts.googleapis.com/css2?family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

:root {
  --theme-bg: rgb(17, 17, 17);
  --theme-bg-90: rgb(29, 29, 29);
  --theme-bg-80: #292929;
  --theme-primary: #0c8be8;
  --theme-secondary: #5b8fb9;
  --theme-ui: #f4f8fb;
  --theme-success: #5fa95f;
  --theme-critical: #f37070;

  @media (prefers-color-scheme: light) {
    --theme-bg: #ffffff;
    --theme-bg-90: #f4f8fb;
    --theme-bg-80: #eaf1f8;
    --theme-primary: #46a4e9;
    --theme-secondary: #5b8fb9;
    --theme-ui: #233064;
    --theme-success: #10d310;
    --theme-critical: #f37070;
  }

  color-scheme: light dark;
  font-family: Quicksand, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--theme-ui);
  background-color: var(--theme-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100dvh;
  min-height: 100dvh;
  overflow: hidden;

  #root {
    height: 100%;
    max-height: 100%;
    overflow: hidden;
  }

  #drawer-root {
    height: 0;
    max-height: 0;
    position: relative;
  }

  * {
    font-family: inherit;
    box-sizing: border-box;
    font-weight: 500;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sometype Mono", monospace;
  font-weight: 400;
}
