.status-selector {
  padding: 8px 0;
  display: inline-flex;
  align-items: center;

  svg {
    transition: transform ease 100ms;
  }

  &:has(select:open) {
    svg {
      transform: scale(1, -1);
    }
  }

  > select {
    appearance: none;
    background-color: transparent;
    border: 0;
    outline: 0;
    color: var(--theme-ui);
    font-size: 20px;
    font-weight: 600;
    width: 100%;

    > option {
      font-size: 12px;
      text-transform: capitalize;
      color: green;
    }
  }
}

.list-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;

  > button {
    padding: 8px;
    background-color: transparent;
    border: 0;
    transition: transform ease 100ms;

    &.dir-desc {
      transform: scale(1, -1);
    }

    &:active {
      transform: scale(0.9);
    }
  }
}

.load-button {
  display: flex;
  justify-content: center;

  > button {
    color: var(--theme-primary);
    border: 2px solid var(--theme-primary);
    border-radius: 8px;
    padding: 8px;
    background-color: transparent;
    margin-top: 12px;
    font-weight: 600;
    transition: transform ease 100ms;
    cursor: pointer;

    &:active {
      transform: scale(0.9);
    }
  }
}
